.form__item{
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  width: 100%;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0 0 13px 0;
}

.form__item:not(:last-child){
  margin-bottom: 30px;
}
