.profile__btn-edit{
    cursor: pointer;
    border: 1px solid #fff;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url(../../../images/btn-edit.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 7px;
    margin-left: 10px;
    transition: opacity .3s ease;
}

.profile__btn-edit:hover{
  opacity: .6;
}

@media screen and (min-width: 992px){
  .profile__btn-edit{
    position: relative;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    background-size: 10px;
  }
}
